*.zip
*.ckpt
*.bin
*.pth
*.png
data/processed_house
UniMuMo/log
local_libs/
archive
UniMuMo/archive
__pycache__/
UniMuMo/inference_results
UniMuMo/training_logs
UniMuMo/evaluation_results
UniMuMo/data
CVPDL-Final/
